<style>
  td:last-child { text-align: right; }
</style>
<h1>Registruoti vartotojai</h1>
<table class="table">
  <thead>
    <tr>
      <th>Vardas</th>
      <th>Pavardė</th>
      <th>El. pašto adresas</th>
      <th>Slaptažodis</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#if message}}
      <p class="text-danger">{{message}}</p>
    {{/if}}
    {{#each data}}
      <tr>
        <td>{{name}}</td>
        <td>{{last_name}}</td>
        <td>{{email}}</td>
        <td>{{password}}</td>
        <td class="text-right">
          {{#unless current}}
            <a href="/delete-user/{{@key}}" class="btn btn-danger">Ištrinti</a>
          {{/unless}}
          {{#if current}}
            <span class="text-success"> Prisijungęs</span>
          {{/if}}
          <a href="/edit-user/{{@key}}" class="btn btn-warning">Redaguoti</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>